
{% load static %}
{% include "headerN.html"%}
<link rel="stylesheet" href="{% static 'css/addsource.css' %}">
    
<body>
<div class="container">
        <div class="container" id="adds">
            <h2 calss="title">당신의 재료를 입력해 주세요 !</h2>
            <br>
            <input type="text" id="myInput" placeholder="재료입력..." />
            <button onclick="newElement()" class="btn btn-secondary">Add</button>
    
        </div>
        
        <ul id="myUL" class="">

        </ul>
</div>
<script src="{% static 'js/addList.js' %}"></script>
</body>
