
{% load static %}
{% include "headerN.html"%}

<link rel="stylesheet" href="{% static 'css/addSource.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gaegu:wght@700&display=swap" rel="stylesheet">    
<body>
<div class="main-container">
    <div class="container" id="adds">
        <div class="inputWrap">
            <h2 id="mysource" style="font-family: 'Gaegu', cursive;">당신의 재료를 입력해 주세요 ! </h2>
            <div class="inputbox">
                <input type="text" id="myInput" placeholder="재료입력..." />
                <button onclick="newElement()" class="btn btn-secondary">Add</button>    
            </div>
        </div>
        <ul id="myUL" class="">
        </ul>
    </div>

</div>
    <form method="post" >
        <div class="d-grid gap-2 col-6 mx-auto">
            <a class="btn btn-secondary" type="button" href="../search/">search</a>
        </div>
    </form>
</div>
<script src="{% static 'js/addList.js' %}"></script>
</body>
