{% load static %}
{% include "headerN.html"%}

<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
{% csrf_token %}
<div class="banner">
  <img class="background" src="https://pixabay.com/get/gf98d1b01260930dcd009c3d2edc7045a471174c986ea06367cd73ba9ad5418e36c975156b847b7c133bc26c0be4b7c757d98a00360470c60cd4fe94e35d2e3fcf27fc7612b6c14336cbded4027339490_1920.jpg">
  <h1>YORIZORI</h1>
  <h2> : cook to your heart's content with your own ingredients!</h2>
</div>
<div class="container">
  <div class="Ycontainer">
    <h3>BEST</h3>
    <div class="row row-cols-4">
      <div class="col-md-3 gy-4">
        <div class="card">
          <img src=" https://i.pinimg.com/736x/87/5d/4f/875d4fb7bf4d86adade54534c058f675.jpg" class="card-img-top"
            alt="https://tse3.mm.bing.net/th?id=OIP.emlvSiSxrV_3Mq3oVJQACAHaE9&pid=Api&P=0">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-md-3 gy-4">
        <div class="card">
          <img src=" https://i.pinimg.com/originals/48/7f/26/487f26aeb9a092f49751d9099f0fbd23.jpg" class="card-img-top"
            alt="https://tse3.mm.bing.net/th?id=OIP.emlvSiSxrV_3Mq3oVJQACAHaE9&pid=Api&P=0">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-md-3 gy-4">
        <div class="card">
          <img src=" https://i.pinimg.com/originals/c1/ca/80/c1ca80c75dfcdca73c7e82490851181e.jpg" class="card-img-top"
            alt="https://tse3.mm.bing.net/th?id=OIP.emlvSiSxrV_3Mq3oVJQACAHaE9&pid=Api&P=0">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-md-3 gy-4">
        <div class="card">
          <img src=" https://i.pinimg.com/736x/87/5d/4f/875d4fb7bf4d86adade54534c058f675.jpg" class="card-img-top"
            alt="https://tse3.mm.bing.net/th?id=OIP.emlvSiSxrV_3Mq3oVJQACAHaE9&pid=Api&P=0">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- {{user}} -->
  </div>