{% load static %}
{% include "LoginheaderN.html"%}

<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
{% csrf_token %}
<div class="banner">
  <img class="background" src="{%static 'images/main.jpg'%}">
  <h1>YORIZORI</h1>
  <h2> : cook to your heart's content with your own ingredients!</h2>
</div>
<div class="container">
  {%for c in c%}
  <div class="Ycontainer">
    <div class="row">
      <div class="col">
        <div class="card">
          <img class="card-img-top" src="{%get_static_prefix%}media/{{c.img_url}}" >
          <div class="card-body">
            <h5 class="card-title">{{c.title}}</h5>
            <p class="card-text">{{c.info}}</p>
            <button onclick="location.href='/contents/{{c.recipe_id}}/'" class="btn btn-primary">Go somewhere</button>
          </div>
        </div> 
      </div>
    </div>
  </div>
  {%endfor%}
  </div>