{% load static %}
{% include "headerN.html"%}

<link rel="stylesheet" href="{% static 'css/search.css' %}">
<link rel="stylesheet" href="{% static 'css/addSource.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap" rel="stylesheet">
<body>
  {% csrf_token %}
<div class="container">
  {%for c in c%}
  <div class="Ycontainer">
    <div class="row">
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="{%get_static_prefix%}media/{{c.img_url}}" >
          <div class="card-body">
            <h5 style="font-family: 'Hi Melody', cursive;" class="card-title">{{c.title}}</h5>
            <p style="font-family: 'Hi Melody', cursive;" class="card-text">{{c.info}}</p>
            <button id="btnPostDetail" style="float: right;" onclick="location.href='/contents/{{c.recipe_id}}/'" class="btn">
              Let's see <img src="https://img.icons8.com/ios-glyphs/30/null/more-than.png" style="width:20px;"/></button>
          </div>
        </div> 
      </div>
    </div>
  </div>
  {%endfor%}
</div>
<br>
<h1 style="text-align: center; color:bisque; -webkit-text-stroke: 0.7px black;">NAVER 검색결과</h1>
<p></p>
<div class="container">
  <table class="table table-hover custom-table">
  <thead >
  <tr style="background-color:bisque; text-align:center;">
  <td></td>
  <td><B>제목</B></td>
  <td><B>소개</B></td>
  <td><B>View</B></td> 

</tr>
</thead>
{% csrf_token %}
<tbody>
  {%for recipe_c in recipe_c%}
  <tr>
    <td><img src={{recipe_c.3}} width="100px;" height="50px"></td>
    <td style="width:25%;">{{recipe_c.0}}</td>
    <td style="width:50%; background-color:rgba(253, 243, 233, 0.5)">{{recipe_c.1}}</td>
    <td style="width:100%; display:flex;">
      <a href={{recipe_c.2}} class="btn rounded-pill" style="background-color:bisque; margin: 30px auto; font-weight:bold;">View
      </a>
    </td>
  </tr>
  {%endfor%}
    <tbody></table>
</div>
</body>

</html>