
{% load static %}
{% include "headerN.html"%}
<div class="container">
    <div class="row">
      <div class="col-md-4 gy-3">
        <div class="card" ">
          <img src="https://i.pinimg.com/736x/87/5d/4f/875d4fb7bf4d86adade54534c058f675.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 gy-3">
        <div class="card" ">
          <img src="https://i.pinimg.com/originals/48/7f/26/487f26aeb9a092f49751d9099f0fbd23.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 gy-3">
        <div class="card" ">
          <img src="https://i.pinimg.com/originals/c1/ca/80/c1ca80c75dfcdca73c7e82490851181e.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
</div>
</body>
</html>