{% load static %}
{% include "LoginheaderN.html"%}
<link rel="stylesheet" type="text/css" href="{% static 'css/upload.css' %}">
<div class="upload-container">
  <h2 class="uploadtitle">This is the recipe update page...</h2>
<p style="padding:10px;"><img src="https://img.icons8.com/ios/50/FAB005/alarm.png" style="padding-right:20px;"/>한눈에 이해하기 쉽게, 당신만의 레시피를 필요한 내용만 간략히 설명해주세요! 욕설이나 부적절한 내용은 삼가하세요. <br> 
To make it easy to understand at a glance, please briefly describe your own recipe with only the necessary information! No profanity or inappropriate content.
</p>
<div class="container">
  <form action="" method="post">
    {% csrf_token %}
  <div class="col">
  <div class="row">
    <div class="col-25">
      <label for="fname">Title</label>
    </div>
    <div class="col-75">
      <input class="input-oneline" type="title" name="title" placeholder="당신의 요리의 이름은?!" value="{{ recipe.title }}">
    </div>
  </div>
  <div class="row">
    <div class="col-25">
      <label for="lname">Information</label>
    </div>
    <div class="col-75">
      <input class="input-oneline" type="info" name="info" placeholder="당신의 요리를 간략히 소개해주세요!" value="{{ recipe.info }}">
    </div>
  </div>
  <div class="row">
    <div class="col-25">
      <label for="country">Source</label>
    </div>
    <div class="col-75">
    <input class="input-oneline" type="source" name="source" placeholder="주재료는 무엇인가요?? ex) 주재료1, 주재료2" value="{{ recipe.source }}">
    </div>
  </div>
  <div class="row">
    <div class="col-25">
      <label for="subject">Recipe</label>
    </div>
    <div class="col-75" style="overflow:auto">
      <textarea name="ex" placeholder="상단엔 모든 재료, &#10; &#10;하단엔 당신의 레시피를 펼쳐주세요 &#10; ex) 1... 2... " style="height:300px" >{{ recipe.ex }}</textarea>
    </div>
  </div>
  <br>
  <div class="mb-3" >
    <input class="form-control form-control-sm" id="formFileSm" type="file" value="{{ recipe.img_url }}">
  </div>
  <div class="row">
    <input type="submit" value="Submit">
  </div>
  </form>
</div>
</div>

</body>
