h2,p{
    text-align: center;
}
* {
    box-sizing: border-box;
  }
  
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    resize: vertical;
  }
  
  .input-oneline{
    width: 100%;
    padding: 3px 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }

  input[type=text], select, textarea:focus,
  .input-oneline:focus{
    /* outline: none; */
    outline-color: rgb(255, 191, 113);
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color:  rgb(235, 191, 129);
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    float: right;
    font-weight: bolder;
    transition: 0.3s;
    font-size: 1.3rem;
    margin-top: 20px;
    letter-spacing: 5px;
  }
  
  input[type=submit]:hover {
    background-color:  rgb(235, 168, 67);
    color: #000;
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 80%;
    height: 100%;
    margin-bottom: 60px;
  }
  
  .col-25 {
    float: left;
    width: 15%;
    margin-top: 6px;
    padding-left: 50px;
  }
  
  .col-75 {
    float: left;
    width: 85%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
      
    }
  }

  .upload-container{
    padding-top: 30px;
  }

  .uploadtitle{
    background-color: rgb(235, 191, 129);
    margin: auto;
    width: 80%;
    height: 85px;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 20px;
    color:white;
    font-weight: bolder;
  }

  .myrecipetitle{
    background-color: rgb(235, 191, 129);
    margin: auto;
    width: 80%;
    height: 85px;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 20px;
    color:white;
    font-weight: bolder;
  }

  .myrecipe-container{
    padding-top: 30px;
  }

  .container_my{
  border-radius: 2px;
  padding: 20px;
  width: 80%;
  height: 100%;
  margin-bottom: 60px;
  justify-content: center;
  justify-items: center;
  margin: auto;
  border-top: 2px solid rgb(239, 199, 144);
  }

  .my_recipe:hover{
  color: greenyellow;
  }
  